{% extends "foodblog/base.html" %}
{% block title %}{{ food.title }}{% endblock %}
{% block content %}
    <h1>{{ food.title }}</h1>
	<br><hr><br>
		<img src="{{food.pic.url}}" alt="food pic"/>
	<br><hr><br>
    <p class="date">
        Published {{ food.publish }} by {{ food.author }}
    </p>
    {{ food.desc|linebreaks }}
    <p>
        <a href="{% url 'foodblog:food_share' food.id %}">
            Share this post
        </a>
    </p>
    <br>
    <hr>
    <br>
    {% with comments.count as total_comments %}
		<h2>
			{{ total_comments }} comment{{ total_comments|pluralize }}
		</h2>
	{% endwith %}
	{% for comment in comments %}
		<div class="comment">
			<p class="info" style="color:red;">
				Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
			</p>
		{{ comment.body|linebreaks }}
		</div>
		{% empty %}
		<p>There are no comments yet.</p>
	{% endfor %}


	{% if commented %}
			<h2>Your comment has been added.</h2>
	{% else %}
		<br><hr><br>
		<h2>Add a new comment</h2>
		<form action="." method="post">
			{{ comment_form.as_p }}
			{% csrf_token %}
			<p><input type="submit" value="Add comment"></p>
		</form>
	{% endif %}


{% endblock %}